discord.py==2.3.2
discord.py[voice]
PyMySQL
requests
ffmpeg==1.4
discord-timers
numpy
pytz
wikipedia-api
youtube-dl
googletrans==3.1.0a0
dpytest
beautifulsoup4==4.10.0
russian-names==0.1.2
selenium==4.6.1
trio-websocket==0.9.2
websockets==10.1
